<!DOCTYPE html>
<html>
<title>Natalie Rothfels</title>
<body>
  <nav class="header">
    <ul class="upper-nav">
      <li>blog</li>
      <li>contact</li>
      <li>resume</li>
      <li>about</li>
    </ul>
  </nav>

  <div class="container">
    <div class="who-am-i">
      <h1>Hi there, I'm Natalie!</h1>
      <p>I'm a Product Manager <a href="https://khanacademy.org">Khan Academy</a>
        where I work on expanding access to free educational resources to learners
        outside the US. </p>
      <p> Outside of work, I teach vinyasa yoga and make a lot of terrible puns.</p>
    </div>
  </div>
</body>
</html>
